.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

content/log.md
content/overview.md

.claude/*settings.local.json
.claude/*settings.json

# Obsidian workspace state
content/.obsidian/

# Ignore .tool-versions
.tool-versions

docs/superpowers